@font-face {
  font-family: "Avenir-Light";
  src: local("Avenir-Light"), url("fonts/Avenir-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Book";
  src: local("Avenir-Book"), url("/fonts/Avenir-Roman.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Roman";
  src: local("Avenir-Roman"), url("/fonts/Avenir-Roman.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Medium";
  src: local("Avenir-Medium"),
    url("/fonts/Avenir-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Heavy";
  src: local("Avenir-Heavy"), url("/fonts/Avenir-Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Black";
  src: local("Avenir-Black"), url("/fonts/Avenir-Black.ttf") format("truetype");
}

@font-face {
  font-family: "SFProDisplay-Regular";
  src: local("SFProDisplay-Regular"), url("/fonts/SFProDisplay-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SFProDisplay-Light";
  src: local("SFProDisplay-Light"), url("/fonts/SFProDisplay-LightItalic.otf") format("opentype");
  font-style: italic;
}
@font-face {
  font-family: "SFProDisplay-Medium";
  src: local("SFProDisplay-Medium"), url("/fonts/SFProDisplay-Medium.otf") format("opentype");
}
@font-face {
  font-family: "SFProDisplay-Bold";
  src: local("SFProDisplay-Bold"), url("/fonts/SFProDisplay-Bold.otf") format("opentype");
}
@font-face {
  font-family: "SFProDisplay-Heavy";
  src: local("SFProDisplay-Heavy"), url("/fonts/SFProDisplay-HeavyItalic.otf") format("opentype");
  font-style: italic;
}
@font-face {
  font-family: "SFProDisplay-Black";
  src: local("SFProDisplay-Black"), url("/fonts/SFProDisplay-BlackItalic.otf") format("opentype");
  font-style: italic;
}
@font-face {
  font-family: "SFProDisplay-Semibold";
  src: local("SFProDisplay-Semibold"), url("/fonts/SFProDisplay-SemiboldItalic.otf") format("opentype");
  font-style: italic;
}
@font-face {
  font-family: "SFProDisplay-Thin";
  src: local("SFProDisplay-Thin"), url("/fonts/SFProDisplay-ThinItalic.otf") format("opentype");
  font-style: italic;
}
@font-face {
  font-family: "SFProDisplay-Ultralight";
  src: local("SFProDisplay-Ultralight"), url("/fonts/SFProDisplay-UltralightItalic.otf") format("opentype");
  font-style: italic;
}
